In [10]:
import os, json, ast
import pandas as pd
import numpy as np
from datetime import datetime
from pathlib import Path

In [11]:
# création d'un dataframe à partir du csv de données
job_events_df = pd.read_csv("../data/raw_unmerged/job_events_17_inf.csv")
job_events_df_sup = pd.read_csv("../data/raw_unmerged/job_events_17-sup.csv")
job_events_df_sup2 = pd.read_csv("../data/raw_unmerged/job_events-17-sup2.csv")
job_events_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60716 entries, 0 to 60715
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           60716 non-null  int64
 1   payload      60716 non-null  object
 2   received_at  60716 non-null  object
 3   machine_id   60716 non-null  int64
 4   tag          60716 non-null  object
dtypes: int64(2), object(3)
memory usage: 2.3+ MB

In [12]:
job_events_df_sup.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df_sup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42226 entries, 0 to 42225
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           42226 non-null  int64
 1   payload      42226 non-null  object
 2   received_at  42226 non-null  object
 3   machine_id   42226 non-null  int64
 4   tag          42226 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.6+ MB

In [13]:
job_events_df_sup2.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df_sup2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40515 entries, 0 to 40514
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           40515 non-null  int64
 1   payload      40515 non-null  object
 2   received_at  40515 non-null  object
 3   machine_id   40515 non-null  int64
 4   tag          40515 non-null  object
dtypes: int64(2), object(3)
memory usage: 1.5+ MB

In [14]:
job_events_merged_df = pd.concat([job_events_df, job_events_df_sup, job_events_df_sup2], ignore_index=True)
job_events_merged_df = job_events_merged_df.sort_values(by='received_at')

# Vérifier la fusion
job_events_merged_df.head()

,id,payload,received_at,machine_id,tag
59062,82914,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 50, ...",2022-02-22 09:43:03.545000,17,job-started
59063,82916,"{""path"": ""D:/IMAGES/Standard/1502734#1/0000001...",2022-02-22 09:43:03.725000,17,job-preview-ready
59064,82923,"{""jobId"": ""1645522984"", ""jobState"": ""SUCCESS"",...",2022-02-22 09:46:07.041000,17,job-ended
59065,82926,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 50, ...",2022-02-22 09:47:19.711000,17,job-started
59066,82927,"{""path"": ""D:/IMAGES/Standard/1496447#1/0000001...",2022-02-22 09:47:19.872000,17,job-preview-ready

In [15]:
job_events_merged_df.tail()

,id,payload,received_at,machine_id,tag
77810,885811,"{""path"": ""D:/IMAGES/Standard/2117813#1/0000001...",2023-11-22 08:48:20.119000,17,job-preview-ready
77811,885813,"{""jobId"": ""1700642899"", ""jobState"": ""SUCCESS"",...",2023-11-22 08:49:32.409000,17,job-ended
77812,885825,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 50, ...",2023-11-22 08:51:55.884000,17,job-started
77813,885826,"{""path"": ""D:/IMAGES/Standard/2120169#1/0000001...",2023-11-22 08:51:56.013000,17,job-preview-ready
77814,885837,"{""jobId"": ""1700643115"", ""jobState"": ""SUCCESS"",...",2023-11-22 08:52:58.453000,17,job-ended

In [16]:
print(len(job_events_merged_df))

143457

In [17]:
job_events_merged_df.to_csv("../data/raw/job_events.csv", index=False)

In [18]:
metrics_merged_df = pd.read_csv("../data/raw/metrics.csv")
job_events_merged_df = pd.read_csv("../data/raw/job_events.csv")
jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

C:\Users\Allan\AppData\Local\Temp\ipykernel_9896\3270355420.py:3: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

In [19]:
# Charger les fichiers CSV
metrics_merged_df = pd.read_csv("../data/raw/metrics.csv")
job_events_merged_df = pd.read_csv("../data/raw/job_events.csv")
jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

# Convertir les colonnes de date
metrics_merged_df['created_at'] = pd.to_datetime(metrics_merged_df['created_at'])
job_events_merged_df['received_at'] = pd.to_datetime(job_events_merged_df['received_at'])
jobs_merged_df['started_at'] = pd.to_datetime(jobs_merged_df['started_at'])

# Trouver et afficher les valeurs maximales et minimales pour chaque DataFrame
max_date_metrics = metrics_merged_df['created_at'].max()
min_date_metrics = metrics_merged_df['created_at'].min()
print(f"metrics_merged_df - Date Min: {min_date_metrics}, Date Max: {max_date_metrics}")

max_date_job_events = job_events_merged_df['received_at'].max()
min_date_job_events = job_events_merged_df['received_at'].min()
print(f"job_events_merged_df - Date Min: {min_date_job_events}, Date Max: {max_date_job_events}")

max_date_jobs = jobs_merged_df['started_at'].max()
min_date_jobs = jobs_merged_df['started_at'].min()
print(f"jobs_merged_df - Date Min: {min_date_jobs}, Date Max: {max_date_jobs}")

C:\Users\Allan\AppData\Local\Temp\ipykernel_9896\1947789244.py:4: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  jobs_merged_df = pd.read_csv("../data/raw/jobs.csv")

metrics_merged_df - Date Min: 2022-11-02 08:28:54.218000, Date Max: 2023-11-15 14:16:20.075000
job_events_merged_df - Date Min: 2022-02-22 09:43:03.545000, Date Max: 2023-11-22 08:52:58.453000
jobs_merged_df - Date Min: 2022-02-22 09:43:04.487000, Date Max: 2023-11-15 14:23:31.020000

-----------------------------------------------