# Création d'un dataset des données brutes fusionnées

In [45]:
import pandas as pd

In [46]:
metrics = '../data/metrics.csv'
job_events = '../data/job_events.csv'
jobs = '../data/jobs.csv'

In [47]:
metrics_df = pd.read_csv(metrics)
job_events_df = pd.read_csv(job_events)
jobs_df = pd.read_csv(jobs)

In [48]:
metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164430 entries, 0 to 1164429
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   id                         1164430 non-null  int64
 1   status                     1164430 non-null  object
 2   created_at                 1164430 non-null  object
 3   cyan_capacity              0 non-null        float64
 4   cyan_remaining             0 non-null        float64
 5   magenta_capacity           0 non-null        float64
 6   magenta_remaining          0 non-null        float64
 7   yellow_capacity            0 non-null        float64
 8   yellow_remaining           0 non-null        float64
 9   black_capacity             0 non-null        float64
 10  black_remaining            0 non-null        float64
 11  machineId                  1164430 non-null  int64
 12  connected_operators        1164430 non-null  object
 13  varnishLevelsTargetvolume  1164430 non-null  float64
 14  varnishLevelsTotalvolume   1164430 non-null  int64
 15  modules                    1164430 non-null  object
 16  events                     1164430 non-null  object
dtypes: float64(9), int64(3), object(5)
memory usage: 151.0+ MB

In [49]:
metrics_df.shape

(1164430, 17)

In [50]:
# metrics_df.dropna(axis='columns', inplace=True)

In [51]:
metrics_df.head()

,id,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,black_remaining,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events
0,5561325,WARNING,2022-06-07 12:23:52.164000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""JAN"", ""level"": ""Operator""}]",22050.818386,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
1,5513803,IDLE,2022-06-03 08:44:57.996000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
2,5514125,IDLE,2022-06-03 08:50:28.520000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
3,5513794,IDLE,2022-06-03 08:44:47.992000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
4,5513880,IDLE,2022-06-03 08:46:18.097000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...","[{""source"": ""PLC"", ""message"": "" Plateau de têt..."

In [52]:
job_events_df.head()

,id,payload,received_at,machine_id,tag
0,29394,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:57:11.291000,14,job-started
1,29395,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:57:11.411000,14,job-preview-ready
2,29396,"{""jobId"": ""1629791843"", ""jobState"": ""SUCCESS"",...",2021-08-24 07:58:13.870000,14,job-ended
3,29397,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:59:32.708000,14,job-started
4,29398,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:59:32.813000,14,job-preview-ready

In [53]:
jobs_df.head()

,id,thumbnail,total_copies,started_at,ended_at,machineId,speed,operator,operator_level,first_page_image_path_on_machine,...,paperThickness,id_on_machine,total_copies_requested,job_thumbnail_id,uses_ifoil,uses_iper,scanner_mode,iper_bvar_count,varnishConsumptionVarnish_3d,varnishConsumptionVarnish_2d
0,5021,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 09:22:46.866000,NaN,14,418,Distributor,Distributor,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,0,1624008166,3,2383.0,False,True,NaN,NaN,NaN,NaN
1,5034,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,3.0,2021-06-18 10:08:13.716000,2021-06-18 10:10:22.257000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,0,1624010893,100,2391.0,False,True,NaN,NaN,NaN,NaN
2,5037,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,70.0,2021-06-18 10:11:52.165000,2021-06-18 10:18:20.294000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,...,0,1624011111,100,2393.0,False,True,NaN,NaN,NaN,NaN
3,5042,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 10:30:23.049000,NaN,14,700,Micka,Operator,D:/IMAGES/Standard/3035811-5coul#1/0000001 V01...,...,0,1624012222,50,2397.0,False,True,NaN,NaN,NaN,NaN
4,5062,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 12:35:11.864000,NaN,14,700,Viktor,Operator,D:/IMAGES/Standard/3037332-vernis/3037332-vern...,...,0,1624019711,1,2416.0,False,True,NaN,NaN,NaN,NaN

In [54]:
metrics_df.columns

Index(['id', 'status', 'created_at', 'cyan_capacity', 'cyan_remaining',
       'magenta_capacity', 'magenta_remaining', 'yellow_capacity',
       'yellow_remaining', 'black_capacity', 'black_remaining', 'machineId',
       'connected_operators', 'varnishLevelsTargetvolume',
       'varnishLevelsTotalvolume', 'modules', 'events'],
      dtype='object')

In [55]:
# on affiche les dimensions du dataframe
metrics_df.shape

(1164430, 17)

In [56]:
metrics_df.drop_duplicates(inplace=True)

In [57]:
metrics_df.shape

(1164430, 17)

In [58]:
# on liste les valeurs unique présent dans la colonne status
metrics_df['status'].unique()

array(['WARNING', 'IDLE', 'ERR'], dtype=object)

In [59]:
metrics_df['machineId'].unique()

array([14], dtype=int64)