# Création d'un dataset des données brutes fusionnées

In [129]:
import pandas as pd

#On modifie l'affichage maximum des ligne et des colonnes pour les fonction de Pandas
pd.options.display.max_columns = None
# pd.options.display.max_rows = None

In [130]:
metrics = '../data/metrics.csv'
job_events = '../data/job_events.csv'
jobs = '../data/jobs.csv'

In [131]:
metrics_df = pd.read_csv(metrics)
job_events_df = pd.read_csv(job_events)
jobs_df = pd.read_csv(jobs)

In [132]:
metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164430 entries, 0 to 1164429
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   id                         1164430 non-null  int64
 1   status                     1164430 non-null  object
 2   created_at                 1164430 non-null  object
 3   cyan_capacity              0 non-null        float64
 4   cyan_remaining             0 non-null        float64
 5   magenta_capacity           0 non-null        float64
 6   magenta_remaining          0 non-null        float64
 7   yellow_capacity            0 non-null        float64
 8   yellow_remaining           0 non-null        float64
 9   black_capacity             0 non-null        float64
 10  black_remaining            0 non-null        float64
 11  machineId                  1164430 non-null  int64
 12  connected_operators        1164430 non-null  object
 13  varnishLevelsTargetvolume  1164430 non-null  float64
 14  varnishLevelsTotalvolume   1164430 non-null  int64
 15  modules                    1164430 non-null  object
 16  events                     1164430 non-null  object
dtypes: float64(9), int64(3), object(5)
memory usage: 151.0+ MB

In [133]:
metrics_df.shape

(1164430, 17)

In [134]:
metrics_df.head()

,id,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,black_remaining,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events
0,5561325,WARNING,2022-06-07 12:23:52.164000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""JAN"", ""level"": ""Operator""}]",22050.818386,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
1,5513803,IDLE,2022-06-03 08:44:57.996000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
2,5514125,IDLE,2022-06-03 08:50:28.520000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
3,5513794,IDLE,2022-06-03 08:44:47.992000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
4,5513880,IDLE,2022-06-03 08:46:18.097000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...","[{""source"": ""PLC"", ""message"": "" Plateau de têt..."

In [135]:
job_events_df.head()

,id,payload,received_at,machine_id,tag
0,29394,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:57:11.291000,14,job-started
1,29395,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:57:11.411000,14,job-preview-ready
2,29396,"{""jobId"": ""1629791843"", ""jobState"": ""SUCCESS"",...",2021-08-24 07:58:13.870000,14,job-ended
3,29397,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:59:32.708000,14,job-started
4,29398,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:59:32.813000,14,job-preview-ready

In [136]:
jobs_df.head()

,id,thumbnail,total_copies,started_at,ended_at,machineId,speed,operator,operator_level,first_page_image_path_on_machine,paperHeight,paperWidth,paperName,paperThickness,id_on_machine,total_copies_requested,job_thumbnail_id,uses_ifoil,uses_iper,scanner_mode,iper_bvar_count,varnishConsumptionVarnish_3d,varnishConsumptionVarnish_2d
0,5021,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 09:22:46.866000,NaN,14,418,Distributor,Distributor,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,520,740,NaN,0,1624008166,3,2383.0,False,True,NaN,NaN,NaN,NaN
1,5034,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,3.0,2021-06-18 10:08:13.716000,2021-06-18 10:10:22.257000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,740,520,NaN,0,1624010893,100,2391.0,False,True,NaN,NaN,NaN,NaN
2,5037,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,70.0,2021-06-18 10:11:52.165000,2021-06-18 10:18:20.294000,14,313,Micka,Operator,D:/IMAGES/Standard/3040459-52x74-350 CM-18-06-...,740,520,NaN,0,1624011111,100,2393.0,False,True,NaN,NaN,NaN,NaN
3,5042,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 10:30:23.049000,NaN,14,700,Micka,Operator,D:/IMAGES/Standard/3035811-5coul#1/0000001 V01...,450,320,NaN,0,1624012222,50,2397.0,False,True,NaN,NaN,NaN,NaN
4,5062,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,NaN,2021-06-18 12:35:11.864000,NaN,14,700,Viktor,Operator,D:/IMAGES/Standard/3037332-vernis/3037332-vern...,450,320,NaN,0,1624019711,1,2416.0,False,True,NaN,NaN,NaN,NaN

In [137]:
metrics_df.columns

Index(['id', 'status', 'created_at', 'cyan_capacity', 'cyan_remaining',
       'magenta_capacity', 'magenta_remaining', 'yellow_capacity',
       'yellow_remaining', 'black_capacity', 'black_remaining', 'machineId',
       'connected_operators', 'varnishLevelsTargetvolume',
       'varnishLevelsTotalvolume', 'modules', 'events'],
      dtype='object')

In [138]:
# on affiche les dimensions du dataframe
metrics_df.shape

(1164430, 17)

In [139]:
metrics_df.drop_duplicates(inplace=True)

In [140]:
metrics_df.shape

(1164430, 17)

In [141]:
# on liste les valeurs unique présent dans la colonne status
metrics_df['status'].unique()

array(['WARNING', 'IDLE', 'ERR'], dtype=object)

In [142]:
metrics_df['machineId'].unique()

array([14], dtype=int64)

In [143]:
# On renomme une colonne d'un csv pour correspondre aux deux autrex csv qui indiquent la même valeur
job_events_df.rename(columns={'machine_id': 'machineId'}, inplace=True)

job_events_df.head()

,id,payload,received_at,machineId,tag
0,29394,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:57:11.291000,14,job-started
1,29395,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:57:11.411000,14,job-preview-ready
2,29396,"{""jobId"": ""1629791843"", ""jobState"": ""SUCCESS"",...",2021-08-24 07:58:13.870000,14,job-ended
3,29397,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:59:32.708000,14,job-started
4,29398,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:59:32.813000,14,job-preview-ready

In [144]:
metrics_df.head()

,id,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,black_remaining,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events
0,5561325,WARNING,2022-06-07 12:23:52.164000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""JAN"", ""level"": ""Operator""}]",22050.818386,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
1,5513803,IDLE,2022-06-03 08:44:57.996000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
2,5514125,IDLE,2022-06-03 08:50:28.520000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
3,5513794,IDLE,2022-06-03 08:44:47.992000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
4,5513880,IDLE,2022-06-03 08:46:18.097000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...","[{""source"": ""PLC"", ""message"": "" Plateau de têt..."

In [145]:
# la fonction : merged_df = pd.merge(jobs_df, metrics_df, on='machineId')
# causant une erreur de mémoire on fusion les data frame grace à la fonction concat en definissant les mêmes index pour les 3 dataframe

df_list = [job_events_df, jobs_df, metrics_df]
for df in df_list:
    df.set_index(['id','machineId'], inplace=True)

# df = df.loc[:,~df.columns.duplicated()].copy()
df_merged = pd.concat(df_list, axis=1) # join='inner'
df_merged.reset_index(inplace=True)

In [146]:
df_merged.head()

,id,machineId,payload,received_at,tag,thumbnail,total_copies,started_at,ended_at,speed,operator,operator_level,first_page_image_path_on_machine,paperHeight,paperWidth,paperName,paperThickness,id_on_machine,total_copies_requested,job_thumbnail_id,uses_ifoil,uses_iper,scanner_mode,iper_bvar_count,varnishConsumptionVarnish_3d,varnishConsumptionVarnish_2d,status,created_at,cyan_capacity,cyan_remaining,magenta_capacity,magenta_remaining,yellow_capacity,yellow_remaining,black_capacity,black_remaining,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events
0,29394,14,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:57:11.291000,job-started,NaN,2.0,2022-02-24 19:50:37.348000,2022-02-24 19:51:28.974000,373.0,Viktor,Operator,D:/IMAGES/Standard/3299108-52x74-350 CM-23-02-...,520.0,740.0,NaN,0.0,1.645732e+09,2.0,26566.0,False,True,1.0,1.0,0.761304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,29395,14,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:57:11.411000,job-preview-ready,NaN,23.0,2022-02-24 19:53:15.057000,2022-02-24 19:56:53.706000,373.0,Viktor,Operator,D:/IMAGES/Standard/3299108-52x74-350 CM-23-02-...,520.0,740.0,NaN,0.0,1.645732e+09,400.0,26567.0,False,True,1.0,1.0,8.756649,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,29396,14,"{""jobId"": ""1629791843"", ""jobState"": ""SUCCESS"",...",2021-08-24 07:58:13.870000,job-ended,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29397,14,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 30, ...",2021-08-24 07:59:32.708000,job-started,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,29398,14,"{""path"": ""D:/IMAGES/Standard/3096378-52x74-350...",2021-08-24 07:59:32.813000,job-preview-ready,NaN,162.0,2022-02-24 19:59:10.413000,2022-02-24 20:07:51.385000,373.0,Viktor,Operator,D:/IMAGES/Standard/3299108-52x74-350 CM-23-02-...,520.0,740.0,NaN,0.0,1.645733e+09,400.0,26570.0,False,True,1.0,1.0,61.666630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [147]:
df_merged.shape

(1227404, 41)

In [148]:
# df_merged.dropna(axis='columns', inplace=True)
# df_merged.head()

In [149]:
df_merged.info(verbose=True, show_counts=True , memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1227404 entries, 0 to 1227403
Data columns (total 41 columns):
 #   Column                            Non-Null Count    Dtype
---  ------                            --------------    -----
 0   id                                1227404 non-null  int64
 1   machineId                         1227404 non-null  int64
 2   payload                           48787 non-null    object
 3   received_at                       48787 non-null    object
 4   tag                               48787 non-null    object
 5   thumbnail                         1497 non-null     object
 6   total_copies                      16201 non-null    float64
 7   started_at                        16295 non-null    object
 8   ended_at                          16201 non-null    object
 9   speed                             16295 non-null    float64
 10  operator                          16295 non-null    object
 11  operator_level                    16295 non-null    object
 12  first_page_image_path_on_machine  16289 non-null    object
 13  paperHeight                       16295 non-null    float64
 14  paperWidth                        16295 non-null    float64
 15  paperName                         578 non-null      object
 16  paperThickness                    16295 non-null    float64
 17  id_on_machine                     16295 non-null    float64
 18  total_copies_requested            16295 non-null    float64
 19  job_thumbnail_id                  16289 non-null    float64
 20  uses_ifoil                        16295 non-null    object
 21  uses_iper                         16295 non-null    object
 22  scanner_mode                      15893 non-null    float64
 23  iper_bvar_count                   15893 non-null    float64
 24  varnishConsumptionVarnish_3d      15818 non-null    float64
 25  varnishConsumptionVarnish_2d      0 non-null        float64
 26  status                            1164430 non-null  object
 27  created_at                        1164430 non-null  object
 28  cyan_capacity                     0 non-null        float64
 29  cyan_remaining                    0 non-null        float64
 30  magenta_capacity                  0 non-null        float64
 31  magenta_remaining                 0 non-null        float64
 32  yellow_capacity                   0 non-null        float64
 33  yellow_remaining                  0 non-null        float64
 34  black_capacity                    0 non-null        float64
 35  black_remaining                   0 non-null        float64
 36  connected_operators               1164430 non-null  object
 37  varnishLevelsTargetvolume         1164430 non-null  float64
 38  varnishLevelsTotalvolume          1164430 non-null  float64
 39  modules                           1164430 non-null  object
 40  events                            1164430 non-null  object
dtypes: float64(22), int64(2), object(17)
memory usage: 1.7 GB

In [150]:
# on selectionne les colonnes qui ont des valeurs null ou na
empty_cols = [col for col in df_merged.columns if df_merged[col].isnull().all()]

# on les supprime 
df_merged.drop(empty_cols, axis=1, inplace= True)

In [151]:
# on supprime les lignes en double si il y en a 
df_merged.drop_duplicates()

df_merged.shape

(1227404, 32)

In [ ]:
# On crée un csv des 3 dataframe fusionnés. 
df_merged.to_csv('../data/raw_merged_data.csv', index=False)