In [1]:
import pandas as pd

In [2]:
metrics = '../data/metrics.csv'

In [3]:
metrics_df = pd.read_csv(metrics)

In [4]:
metrics_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1164430 entries, 0 to 1164429
Data columns (total 17 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   id                         1164430 non-null  int64
 1   status                     1164430 non-null  object
 2   created_at                 1164430 non-null  object
 3   cyan_capacity              0 non-null        float64
 4   cyan_remaining             0 non-null        float64
 5   magenta_capacity           0 non-null        float64
 6   magenta_remaining          0 non-null        float64
 7   yellow_capacity            0 non-null        float64
 8   yellow_remaining           0 non-null        float64
 9   black_capacity             0 non-null        float64
 10  black_remaining            0 non-null        float64
 11  machineId                  1164430 non-null  int64
 12  connected_operators        1164430 non-null  object
 13  varnishLevelsTargetvolume  1164430 non-null  float64
 14  varnishLevelsTotalvolume   1164430 non-null  int64
 15  modules                    1164430 non-null  object
 16  events                     1164430 non-null  object
dtypes: float64(9), int64(3), object(5)
memory usage: 151.0+ MB

In [8]:
metrics_df.dropna(axis='columns', inplace=True)

In [9]:
metrics_df.head()

,id,status,created_at,machineId,connected_operators,varnishLevelsTargetvolume,varnishLevelsTotalvolume,modules,events
0,5561325,WARNING,2022-06-07 12:23:52.164000,14,"[{""name"": ""JAN"", ""level"": ""Operator""}]",22050.818386,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
1,5513803,IDLE,2022-06-03 08:44:57.996000,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
2,5514125,IDLE,2022-06-03 08:50:28.520000,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
3,5513794,IDLE,2022-06-03 08:44:47.992000,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...",[]
4,5513880,IDLE,2022-06-03 08:46:18.097000,14,"[{""name"": ""Viktor"", ""level"": ""Operator""}]",22402.256226,100000,"[{""sn"": """", ""name"": ""Print Engine 1"", ""type"": ...","[{""source"": ""PLC"", ""message"": "" Plateau de têt..."

In [11]:
metrics_df.columns

Index(['id', 'status', 'created_at', 'machineId', 'connected_operators',
       'varnishLevelsTargetvolume', 'varnishLevelsTotalvolume', 'modules',
       'events'],
      dtype='object')