# 03 - Création d'un dataset des données brutes fractionnées de jobs_events

Ce notebook génère 2 csv :

- raw_merge_job_events_dataset.csv qui fusionne les données du dataset de brut (une ligne par job id)

- raw_concat_job_events_dataset.csv qui concatène les données du dataset de brut (une ligne par tag)

Etapes : 

- fractionnement de la colonne payload

- fractionnement des sous-colonnes

- fusion des sous-colonnes entre elle (chaque job à une ligne et regroupe les données des 3 tags)

- concaténation des sous-colonnes (chaque job à plusieurs ligne : job_start, job_preview, job_end)

# A) Imports

## Librairies

In [1]:
import os, json, ast
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

## Fonctions

In [2]:
# fonction retournant un dataframe à partir du payload pour un tag ciblé
def payload_dataframe_by_tag(input_df, tag):
    # creation du dataframe avec selection par tag
    df = input_df.loc[input_df['tag'] == tag]
    # creation du dataframe du payload fractionné
    payload_df = df.payload.apply(lambda x : json.loads(x)).apply(pd.Series)
    # merge des 2 dataframes
    tag_df = df.merge(payload_df,left_index=True, right_index=True)
    # suppression de la colonne 'payload' et de la colonne 'tag'
    tag_df.drop(['payload','tag'], axis=1, inplace=True)
    # remise à 0 des index
    tag_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
    return tag_df

In [3]:
# fonction retournant le dataframe d'une colonne fractionnée
# col=colonne à fractionner
# df=dataframe source
# data=dict des colonnes du df à conserver dans le df à retourner
def convert_col_to_df(col:str, df:pd.DataFrame, data:dict=None):
    
    # création du dictionnaire de données vide
    if data == None :
        data = {}
    # ou liste des clés du dictionnaire input
    else :
        data_keys = list(data.keys())

    # on converti le type des valeurs str en list
    if not isinstance(df[col].loc[0], list) and not isinstance(df[col].loc[0], dict):
        try :
            df[col] = df[col].apply(lambda x : json.loads(x))
        except:
            df[col] = df[col].fillna(0)

    # liste des clés du dictionnaire de la colonne à partir de la première occurence
    # on recherche la première occurence non vide et de type list 
    # pour l'affecter à une variable first
    for i in range(0, (len(df[col]))):
        value = df[col].loc[i]
        if isinstance(value, list):
            if len(value) > 0 :
                first = value[0]
                #print('first: ', type(first), first)
                break
        if isinstance(value, dict):
            if len(value) > 0 :
                first = value
                #print('first: ', type(first), first)
                break

    # on liste les clés du dictionnaire de l'occurence
    col_keys = first.keys()
    for ck in col_keys :
        data[ck+'_'+col] = []
    # print(data)
    
    # on itére dans la serie pour récupérer les valeurs et les stocker dans le dictionnaire data
    for i in range(df.index.start, df.index.stop):
        # evaluation des valeurs 'str' en 'list'
        values = df[col].loc[i]
        if isinstance(values, list) and len(values) > 0 :
            # ajout des valeurs dans le dictionnaire 'd'
            for value in values :
                for k in value.keys():
                    data[k+'_'+col].append(value.get(k))
                for dk in data_keys:
                    data[dk].append(df[dk].loc[i])
        if isinstance(values, dict) :
            # ajout des valeurs dans le dictionnaire 'd'
            for k in values.keys() :
                data[k+'_'+col].append(values.get(k))
            for dk in data_keys:
                data[dk].append(df[dk].loc[i])
                
    # re-assignation de la variable df
    df = pd.DataFrame(data)

    return df

## Data

In [4]:
# source path to raw metrics dataset
filename = 'job_events.csv'
path = '../data/raw/'
# target path to save merge raw job events dataset
save_csv_merge = '../data/jobs/raw_merge_job_events_dataset.csv'
save_csv_concat = '../data/jobs/raw_concat_job_events_dataset.csv'

In [5]:
# # téléchargement dans le repertoire 'data' d'un fichiers 'csv' depuis le blob
# from azure_blob import download_blob_file
# download_blob_file(file_name=filename, local_path=path)
job_events = os.path.join(path, filename)

# B) Dataframe

## a) Création

In [6]:
# création d'un dataframe à partir du csv de données
job_events_df = pd.read_csv(job_events).sort_values(by='received_at')
job_events_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12674 entries, 703 to 10013
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           12674 non-null  int64
 1   payload      12674 non-null  object
 2   received_at  12674 non-null  object
 3   machine_id   12674 non-null  int64
 4   tag          12674 non-null  object
dtypes: int64(2), object(3)
memory usage: 594.1+ KB

In [7]:
# réindexation
job_events_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')
job_events_df.head(5)

,id,payload,received_at,machine_id,tag
0,336451,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 100,...",2022-10-25 08:25:13.690000,29,job-started
1,336452,"{""path"": ""D:/IMAGES/Standard/22100077-00 test ...",2022-10-25 08:25:13.783000,29,job-preview-ready
2,336457,"{""jobId"": ""1666686314"", ""jobState"": ""SUCCESS"",...",2022-10-25 08:26:17.520000,29,job-ended
3,336460,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 100,...",2022-10-25 08:27:36.347000,29,job-started
4,336461,"{""path"": ""D:/IMAGES/Standard/22100077-00 test ...",2022-10-25 08:27:36.433000,29,job-preview-ready

In [8]:
# on verifie que les valeurs de la colonne id n'ont pas de doublon
any(job_events_df.id.duplicated())

False

## b) Fractionnement du payload

Le contenu du payload diffère selon le tag donc on subdivise le dataset en fonction du tag pour fractionner le payload

In [9]:
# liste des tag
job_events_df.tag.unique().tolist()

['job-started', 'job-preview-ready', 'job-ended']

In [10]:
job_events_df

,id,payload,received_at,machine_id,tag
0,336451,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 100,...",2022-10-25 08:25:13.690000,29,job-started
1,336452,"{""path"": ""D:/IMAGES/Standard/22100077-00 test ...",2022-10-25 08:25:13.783000,29,job-preview-ready
2,336457,"{""jobId"": ""1666686314"", ""jobState"": ""SUCCESS"",...",2022-10-25 08:26:17.520000,29,job-ended
3,336460,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 100,...",2022-10-25 08:27:36.347000,29,job-started
4,336461,"{""path"": ""D:/IMAGES/Standard/22100077-00 test ...",2022-10-25 08:27:36.433000,29,job-preview-ready
...,...,...,...,...,...
12669,872558,"{""path"": ""D:/IMAGES/Standard/23100088-00_CREAS...",2023-11-16 08:44:33.506000,29,job-preview-ready
12670,872600,"{""jobId"": ""1700124273"", ""jobState"": ""SUCCESS"",...",2023-11-16 08:56:16.650000,29,job-ended
12671,872604,"{""iper"": [{""id"": ""PRINT_ENGINE_1"", ""LED"": 100,...",2023-11-16 08:58:01.890000,29,job-started
12672,872605,"{""path"": ""D:/IMAGES/Standard/23100088-00_CREAS...",2023-11-16 08:58:01.942000,29,job-preview-ready
12673,872665,"{""jobId"": ""1700125082"", ""jobState"": ""SUCCESS"",...",2023-11-16 09:11:50.320000,29,job-ended

In [11]:
# creation des dataframes du payload fractionné pour chaque tag
job_event_payload = job_events_df.drop(['machine_id','received_at'], axis=1).copy()
job_started_df = payload_dataframe_by_tag(input_df=job_event_payload, tag='job-started')
job_preview_df = payload_dataframe_by_tag(input_df=job_event_payload, tag='job-preview-ready')
job_ended_df = payload_dataframe_by_tag(input_df=job_event_payload, tag='job-ended')

In [12]:
# on verifie que les valeurs de la colonne jobId soient unique dans chaque df
print('job-started tag :', any(job_started_df.jobId.duplicated()), job_started_df.jobId.nunique())
print('job-preview tag :', any(job_preview_df.jobId.duplicated()), job_preview_df.jobId.nunique())
print('job-ended tag :', any(job_ended_df.jobId.duplicated()), job_ended_df.jobId.nunique())

job-started tag : False 4225
job-preview tag : False 4226
job-ended tag : False 4223

### a. Dataframe de tag job start

In [13]:
# visualisation des valeurs
job_started_df.head(3)

,id,iper,user,ifoil,jobId,layout,memjet,octopus,irDryers,uvDryers,machineId,timestamp,jsonVersion,totalCopies,remoteScanner,remoteScannerRegistration
0,336451,"[{'id': 'PRINT_ENGINE_1', 'LED': 100, 'bars': ...","{'level': 'Operator', 'operator': 'User'}","[{'id': 'IFOIL_1', 'speed': 22, 'enabled': Fal...",1666686314,"{'speed': 179, 'pageLayout': 'LEFT', 'imageLay...",[],[],"[{'id': 'IR_DRYER_1', 'power': 45, 'enable': F...","[{'id': 'UV_DRYER_1', 'power': 100, 'enable': ...","{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:25:14.7283523Z,2,1,[],"[{'id': 'REGISTRATION_SCANNER_1', 'mode': 1, '..."
1,336460,"[{'id': 'PRINT_ENGINE_1', 'LED': 100, 'bars': ...","{'level': 'Operator', 'operator': 'User'}","[{'id': 'IFOIL_1', 'speed': 22, 'enabled': Fal...",1666686457,"{'speed': 209, 'pageLayout': 'LEFT', 'imageLay...",[],[],"[{'id': 'IR_DRYER_1', 'power': 45, 'enable': F...","[{'id': 'UV_DRYER_1', 'power': 100, 'enable': ...","{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:27:37.3878834Z,2,4,[],"[{'id': 'REGISTRATION_SCANNER_1', 'mode': 1, '..."
2,336470,"[{'id': 'PRINT_ENGINE_1', 'LED': 100, 'bars': ...","{'level': 'Operator', 'operator': 'User'}","[{'id': 'IFOIL_1', 'speed': 33, 'enabled': Fal...",1666686620,"{'speed': 209, 'pageLayout': 'LEFT', 'imageLay...",[],[],"[{'id': 'IR_DRYER_1', 'power': 45, 'enable': F...","[{'id': 'UV_DRYER_1', 'power': 100, 'enable': ...","{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:30:20.2103584Z,2,1,[],"[{'id': 'REGISTRATION_SCANNER_1', 'mode': 1, '..."

In [14]:
# suppression des colonnes ne contenant aucune valeurs :
job_started_df = job_started_df.drop(['memjet','octopus'], axis=1)

In [15]:
# liste des colonnes contenant des valeurs de type list ou dict à fractionner
job_started_col_to_split = []
for col in job_started_df.columns :
    if isinstance(job_started_df[col].loc[0], list) or isinstance(job_started_df[col].loc[0], dict):
        job_started_col_to_split.append(col)

job_started_col_to_split

['iper',
 'user',
 'ifoil',
 'layout',
 'irDryers',
 'uvDryers',
 'machineId',
 'remoteScanner',
 'remoteScannerRegistration']

In [16]:
col_to_drop = []

#### 1) Fractionnement colonne iper

In [17]:
job_started_df.iper.loc[0]

[{'id': 'PRINT_ENGINE_1',
  'LED': 100,
  'bars': [1, 2],
  'drops': 7,
  'enable': True,
  'dithering': False,
  'deadPixelsOffset': 0}]

In [18]:
# on fractionne une colonne
iper = convert_col_to_df('iper', job_started_df, {'id':[]})
iper.head(3)

,id,id_iper,LED_iper,bars_iper,drops_iper,enable_iper,dithering_iper,deadPixelsOffset_iper
0,336451,PRINT_ENGINE_1,100,"[1, 2]",7,True,False,0
1,336460,PRINT_ENGINE_1,100,"[1, 2]",6,True,False,0
2,336470,PRINT_ENGINE_1,100,"[1, 2]",6,True,False,0

In [19]:
# suppression de colonne
#iper = iper.drop(['bars_iper'], axis=1)

In [20]:
# liste le nombre de valeurs uniques par colonne
iper_col_to_drop = []
for col in iper.drop(['bars_iper'], axis=1).columns:
    print(col, iper[col].nunique())
    if iper[col].nunique() <= 1 :
        iper_col_to_drop.append(col)
col_to_drop.append(iper_col_to_drop)
iper_col_to_drop

id 4225
id_iper 1
LED_iper 51
drops_iper 14
enable_iper 1
dithering_iper 2
deadPixelsOffset_iper 11

['id_iper', 'enable_iper']

#### 2) Fractionnement colonne user

In [21]:
# on visualise les valeurs
job_started_df.user.loc[0]

{'level': 'Operator', 'operator': 'User'}

In [22]:
# on fractionne une colonne
user = convert_col_to_df('user', job_started_df, {'id':[]})
user.head(2)

       id level_user operator_user
0  336451   Operator          User
1  336460   Operator          User

#### 3) Fractionnement colonne ifoil

In [23]:
# on visualise les valeurs
job_started_df.ifoil.loc[0]

[{'id': 'IFOIL_1',
  'speed': 22,
  'enabled': False,
  'irEnable': False,
  'optifoil': True,
  'vacuumIn': 100,
  'vacuumOut': 100,
  'stampAreas': [{'id': 1, 'end': 500, 'start': 0, 'height': 500},
   {'id': 2, 'end': 0, 'start': 0, 'height': 0},
   {'id': 3, 'end': 0, 'start': 0, 'height': 0},
   {'id': 4, 'end': 0, 'start': 0, 'height': 0},
   {'id': 5, 'end': 0, 'start': 0, 'height': 0},
   {'id': 6, 'end': 0, 'start': 0, 'height': 0}],
  'irTemperature': 0,
  'heater1Enabled': False,
  'speedTensionIn': -0.3,
  'speedTensionOut': 0.3,
  'backSidePressure': 0,
  'filmSensor1Enable': False,
  'filmSensor2Enable': False,
  'filmSensor3Enable': False,
  'frontSidePressure': 0,
  'heater1Temperature': 149,
  'deadZoneStampAreaBack': 0,
  'deadZoneStampAreaFront': 0}]

In [24]:
# on fractionne une colonne
ifoil = convert_col_to_df('ifoil', job_started_df, {'id':[]})
ifoil.head(2)

,id,id_ifoil,speed_ifoil,enabled_ifoil,irEnable_ifoil,optifoil_ifoil,vacuumIn_ifoil,vacuumOut_ifoil,stampAreas_ifoil,irTemperature_ifoil,...,speedTensionIn_ifoil,speedTensionOut_ifoil,backSidePressure_ifoil,filmSensor1Enable_ifoil,filmSensor2Enable_ifoil,filmSensor3Enable_ifoil,frontSidePressure_ifoil,heater1Temperature_ifoil,deadZoneStampAreaBack_ifoil,deadZoneStampAreaFront_ifoil
0,336451,IFOIL_1,22.0,False,False,True,100,100,"[{'id': 1, 'end': 500, 'start': 0, 'height': 5...",0,...,-0.3,0.3,0,False,False,False,0,149,0,0
1,336460,IFOIL_1,22.0,False,False,True,100,100,"[{'id': 1, 'end': 500, 'start': 0, 'height': 5...",0,...,-0.3,0.3,0,False,False,False,0,149,0,0

In [25]:
# liste le nombre de valeurs uniques par colonne
ifoil_col_to_drop = []
for col in ifoil.drop(['stampAreas_ifoil'], axis=1).columns:
    print(col, ifoil[col].nunique())
    if ifoil[col].nunique() <= 1 :
        ifoil_col_to_drop.append(col)
col_to_drop.append(ifoil_col_to_drop)
ifoil_col_to_drop

id 4225
id_ifoil 1
speed_ifoil 79
enabled_ifoil 2
irEnable_ifoil 1
optifoil_ifoil 2
vacuumIn_ifoil 1
vacuumOut_ifoil 1
irTemperature_ifoil 1
heater1Enabled_ifoil 2
speedTensionIn_ifoil 6
speedTensionOut_ifoil 6
backSidePressure_ifoil 1
filmSensor1Enable_ifoil 1
filmSensor2Enable_ifoil 1
filmSensor3Enable_ifoil 1
frontSidePressure_ifoil 1
heater1Temperature_ifoil 42
deadZoneStampAreaBack_ifoil 1
deadZoneStampAreaFront_ifoil 1

['id_ifoil',
 'irEnable_ifoil',
 'vacuumIn_ifoil',
 'vacuumOut_ifoil',
 'irTemperature_ifoil',
 'backSidePressure_ifoil',
 'filmSensor1Enable_ifoil',
 'filmSensor2Enable_ifoil',
 'filmSensor3Enable_ifoil',
 'frontSidePressure_ifoil',
 'deadZoneStampAreaBack_ifoil',
 'deadZoneStampAreaFront_ifoil']

#### 4) Fractionnement colonne layout

In [26]:
# on visualise les valeurs
job_started_df.layout.loc[0]

{'speed': 179,
 'pageLayout': 'LEFT',
 'imageLayout': {'x': 1559,
  'y': 0,
  'flip': False,
  'assembled': False,
  'rotate180deg': False},
 'paperFormat': {'name': '', 'width': 319.97, 'height': 500.03},
 'paperThickness': 0}

In [27]:
# on fractionne une colonne
layout_df = convert_col_to_df('layout', job_started_df, {'id':[]})
layout_df.head(3)

,id,speed_layout,pageLayout_layout,imageLayout_layout,paperFormat_layout,paperThickness_layout
0,336451,179,LEFT,"{'x': 1559, 'y': 0, 'flip': False, 'assembled'...","{'name': '', 'width': 319.97, 'height': 500.03}",0
1,336460,209,LEFT,"{'x': 1559, 'y': 0, 'flip': False, 'assembled'...","{'name': '', 'width': 319.97, 'height': 500.03}",0
2,336470,209,LEFT,"{'x': 1559, 'y': 0, 'flip': False, 'assembled'...","{'name': '', 'width': 319.97, 'height': 500.03}",0

In [28]:
# on fractionne une colonne
imageLayout_layout = convert_col_to_df('imageLayout_layout', layout_df, {'id':[]})
imageLayout_layout.head(2)

,id,x_imageLayout_layout,y_imageLayout_layout,flip_imageLayout_layout,assembled_imageLayout_layout,rotate180deg_imageLayout_layout
0,336451,1559,0,False,False,False
1,336460,1559,0,False,False,False

In [29]:
# on fractionne une colonne
paperFormat_layout = convert_col_to_df('paperFormat_layout', layout_df, {'id':[]})
paperFormat_layout.head(2)

,id,name_paperFormat_layout,width_paperFormat_layout,height_paperFormat_layout
0,336451,,319.97,500.03
1,336460,,319.97,500.03

In [30]:
# on fusionne les colonnes fractionnées
merge_imageLayout_paperFormat = pd.merge(imageLayout_layout, paperFormat_layout, how='outer', on='id')
merge_layout = pd.merge(merge_imageLayout_paperFormat, layout_df, how='outer', on='id')
merge_layout = merge_layout.drop(['imageLayout_layout','paperFormat_layout'], axis=1)
merge_layout.head(3)

,id,x_imageLayout_layout,y_imageLayout_layout,flip_imageLayout_layout,assembled_imageLayout_layout,rotate180deg_imageLayout_layout,name_paperFormat_layout,width_paperFormat_layout,height_paperFormat_layout,speed_layout,pageLayout_layout,paperThickness_layout
0,336451,1559,0,False,False,False,,319.97,500.03,179,LEFT,0
1,336460,1559,0,False,False,False,,319.97,500.03,209,LEFT,0
2,336470,1559,0,False,False,False,,319.97,500.03,209,LEFT,0

In [31]:
# liste le nombre de valeurs uniques par colonne
layout_col_to_drop = []
for col in merge_layout.columns:
    print(col, merge_layout[col].nunique())
    if merge_layout[col].nunique() <= 1 :
        layout_col_to_drop.append(col)
col_to_drop.append(layout_col_to_drop)
layout_col_to_drop

id 4225
x_imageLayout_layout 65
y_imageLayout_layout 19
flip_imageLayout_layout 1
assembled_imageLayout_layout 1
rotate180deg_imageLayout_layout 1
name_paperFormat_layout 1
width_paperFormat_layout 44
height_paperFormat_layout 49
speed_layout 209
pageLayout_layout 1
paperThickness_layout 1

['flip_imageLayout_layout',
 'assembled_imageLayout_layout',
 'rotate180deg_imageLayout_layout',
 'name_paperFormat_layout',
 'pageLayout_layout',
 'paperThickness_layout']

#### 5) Fractionnement colonne irDryers

In [32]:
job_started_df.irDryers.loc[0]

[{'id': 'IR_DRYER_1', 'power': 45, 'enable': False}]

In [33]:
# on fractionne une colonne
irDryers = convert_col_to_df('irDryers', job_started_df, {'id':[]})
irDryers.head(3)

       id id_irDryers  power_irDryers  enable_irDryers
0  336451  IR_DRYER_1              45            False
1  336460  IR_DRYER_1              45            False
2  336470  IR_DRYER_1              45            False

In [34]:
# liste le nombre de valeurs uniques par colonne
irDryers_col_to_drop = []
for col in irDryers.columns:
    print(col, irDryers[col].nunique())
    if irDryers[col].nunique() <= 1 :
        irDryers_col_to_drop.append(col)
col_to_drop.append(irDryers_col_to_drop)
irDryers_col_to_drop

id 4225
id_irDryers 1
power_irDryers 39
enable_irDryers 1

['id_irDryers', 'enable_irDryers']

#### 6) Fractionnement colonne uvDryers

In [35]:
job_started_df.uvDryers.loc[0]

[{'id': 'UV_DRYER_1', 'power': 100, 'enable': True}]

In [36]:
# on fractionne une colonne
uvDryers = convert_col_to_df('uvDryers', job_started_df, {'id':[]})
uvDryers.head(3)

       id id_uvDryers  power_uvDryers  enable_uvDryers
0  336451  UV_DRYER_1             100             True
1  336460  UV_DRYER_1             100             True
2  336470  UV_DRYER_1             100             True

In [37]:
# liste le nombre de valeurs uniques par colonne
uvDryers_col_to_drop = []
for col in uvDryers.columns:
    print(col, uvDryers[col].nunique())
    if uvDryers[col].nunique() <= 1 :
        uvDryers_col_to_drop.append(col)
col_to_drop.append(uvDryers_col_to_drop)
uvDryers_col_to_drop

id 4225
id_uvDryers 1
power_uvDryers 20
enable_uvDryers 1

['id_uvDryers', 'enable_uvDryers']

#### 7) Fractionnement colonne remoteScannerRegistration

In [38]:
job_started_df.remoteScannerRegistration.loc[0]

[{'id': 'REGISTRATION_SCANNER_1',
  'mode': 1,
  'gridMode': {'redScore': 1500,
   'descriptor': {'name': None, 'rows': 0, 'columns': 0, 'default': False}},
  'registration': {'topMargin': 0, 'leftMargin': 0},
  'troubleshoot': False,
  'cropmarksMode': {'redScore': 1500,
   'cropmark1': {'x': 0, 'y': 0, 'score': 0, 'valid': True},
   'cropmark2': {'x': 0, 'y': 0, 'score': 0, 'valid': True}},
  'manualLighting': {'enable': False,
   'platePoint': {'x': 0, 'y': 0, 'valid': False},
   'exposureTime': 0,
   'linearLightOn': 0,
   'coaxialLightOn': 0,
   'substratePoint': {'x': 0, 'y': 0, 'valid': False},
   'coaxialPowerLevel': 0},
  'fullScannerMode': {'redScore': 1500, 'blueScore': 16, 'greenScore': 16},
  'specialSubstrate': {'enable': False, 'paperEdge': 0}}]

In [39]:
# on fractionne la colonne
remoteScannerRegistration = convert_col_to_df('remoteScannerRegistration', job_started_df, {'id':[]})
remoteScannerRegistration.head(3)

,id,id_remoteScannerRegistration,mode_remoteScannerRegistration,gridMode_remoteScannerRegistration,registration_remoteScannerRegistration,troubleshoot_remoteScannerRegistration,cropmarksMode_remoteScannerRegistration,manualLighting_remoteScannerRegistration,fullScannerMode_remoteScannerRegistration,specialSubstrate_remoteScannerRegistration
0,336451,REGISTRATION_SCANNER_1,1,"{'redScore': 1500, 'descriptor': {'name': None...","{'topMargin': 0, 'leftMargin': 0}",False,"{'redScore': 1500, 'cropmark1': {'x': 0, 'y': ...","{'enable': False, 'platePoint': {'x': 0, 'y': ...","{'redScore': 1500, 'blueScore': 16, 'greenScor...","{'enable': False, 'paperEdge': 0}"
1,336460,REGISTRATION_SCANNER_1,1,"{'redScore': 1500, 'descriptor': {'name': None...","{'topMargin': 0, 'leftMargin': 0}",False,"{'redScore': 1500, 'cropmark1': {'x': 0, 'y': ...","{'enable': False, 'platePoint': {'x': 0, 'y': ...","{'redScore': 1500, 'blueScore': 16, 'greenScor...","{'enable': False, 'paperEdge': 0}"
2,336470,REGISTRATION_SCANNER_1,1,"{'redScore': 1500, 'descriptor': {'name': None...","{'topMargin': 0, 'leftMargin': 0}",False,"{'redScore': 1500, 'cropmark1': {'x': 0, 'y': ...","{'enable': False, 'platePoint': {'x': 0, 'y': ...","{'redScore': 1500, 'blueScore': 16, 'greenScor...","{'enable': False, 'paperEdge': 0}"

In [40]:
# on liste les sous-colonnes à fractionner, leurs valeurs sont de type list ou dict:
remoteScannerRegistration_col_to_split = []
for col in remoteScannerRegistration.columns:
    if isinstance(remoteScannerRegistration[col].loc[0], list) or isinstance(remoteScannerRegistration[col].loc[0], dict):
        remoteScannerRegistration_col_to_split.append(col)

remoteScannerRegistration_col_to_split

['gridMode_remoteScannerRegistration',
 'registration_remoteScannerRegistration',
 'cropmarksMode_remoteScannerRegistration',
 'manualLighting_remoteScannerRegistration',
 'fullScannerMode_remoteScannerRegistration',
 'specialSubstrate_remoteScannerRegistration']

##### remoteScannerRegistration > gridMode

In [41]:
# on fractionne une colonne
gridMode = convert_col_to_df('gridMode_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
gridMode.head(3)

,id,redScore_gridMode_remoteScannerRegistration,descriptor_gridMode_remoteScannerRegistration
0,336451,1500,"{'name': None, 'rows': 0, 'columns': 0, 'defau..."
1,336460,1500,"{'name': None, 'rows': 0, 'columns': 0, 'defau..."
2,336470,1500,"{'name': None, 'rows': 0, 'columns': 0, 'defau..."

In [42]:
# on fractionne une colonne
descriptor = convert_col_to_df('descriptor_gridMode_remoteScannerRegistration', gridMode, {'id':[]})
descriptor.head(3)

,id,name_descriptor_gridMode_remoteScannerRegistration,rows_descriptor_gridMode_remoteScannerRegistration,columns_descriptor_gridMode_remoteScannerRegistration,default_descriptor_gridMode_remoteScannerRegistration
0,336451,None,0,0,False
1,336460,None,0,0,False
2,336470,None,0,0,False

In [43]:
# on fusionne les colonnes fractionnées
merge_gridMode = pd.merge(gridMode, descriptor, how='outer', on='id')
merge_gridMode = merge_gridMode.drop(['descriptor_gridMode_remoteScannerRegistration'], axis=1)
merge_gridMode.head(2)

,id,redScore_gridMode_remoteScannerRegistration,name_descriptor_gridMode_remoteScannerRegistration,rows_descriptor_gridMode_remoteScannerRegistration,columns_descriptor_gridMode_remoteScannerRegistration,default_descriptor_gridMode_remoteScannerRegistration
0,336451,1500,None,0,0,False
1,336460,1500,None,0,0,False

##### remoteScannerRegistration > registration

In [44]:
# on fractionne une colonne
registration = convert_col_to_df('registration_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
registration.head(3)

,id,topMargin_registration_remoteScannerRegistration,leftMargin_registration_remoteScannerRegistration
0,336451,0,0
1,336460,0,0
2,336470,0,0

##### remoteScannerRegistration > cropmarksMode

In [45]:
# on fractionne une colonne
cropmarksMode = convert_col_to_df('cropmarksMode_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
cropmarksMode.head(3)

,id,redScore_cropmarksMode_remoteScannerRegistration,cropmark1_cropmarksMode_remoteScannerRegistration,cropmark2_cropmarksMode_remoteScannerRegistration
0,336451,1500,"{'x': 0, 'y': 0, 'score': 0, 'valid': True}","{'x': 0, 'y': 0, 'score': 0, 'valid': True}"
1,336460,1500,"{'x': 0, 'y': 0, 'score': 0, 'valid': True}","{'x': 0, 'y': 0, 'score': 0, 'valid': True}"
2,336470,1500,"{'x': 0, 'y': 0, 'score': 0, 'valid': True}","{'x': 0, 'y': 0, 'score': 0, 'valid': True}"

In [46]:
cropmarksMode_1 = convert_col_to_df('cropmark1_cropmarksMode_remoteScannerRegistration', cropmarksMode, {'id':[]})
cropmarksMode_2 = convert_col_to_df('cropmark2_cropmarksMode_remoteScannerRegistration', cropmarksMode, {'id':[]})
merge_cropmarksModes = pd.merge(cropmarksMode_1, cropmarksMode_2, how='outer', on='id')
merge_cropmarksMode = pd.merge(cropmarksMode, merge_cropmarksModes, how='outer', on='id')
merge_cropmarksMode = merge_cropmarksMode.drop(['cropmark1_cropmarksMode_remoteScannerRegistration','cropmark2_cropmarksMode_remoteScannerRegistration'], axis=1)
merge_cropmarksMode.head(2)

,id,redScore_cropmarksMode_remoteScannerRegistration,x_cropmark1_cropmarksMode_remoteScannerRegistration,y_cropmark1_cropmarksMode_remoteScannerRegistration,score_cropmark1_cropmarksMode_remoteScannerRegistration,valid_cropmark1_cropmarksMode_remoteScannerRegistration,x_cropmark2_cropmarksMode_remoteScannerRegistration,y_cropmark2_cropmarksMode_remoteScannerRegistration,score_cropmark2_cropmarksMode_remoteScannerRegistration,valid_cropmark2_cropmarksMode_remoteScannerRegistration
0,336451,1500,0,0,0,True,0,0,0,True
1,336460,1500,0,0,0,True,0,0,0,True

##### remoteScannerRegistration > manualLighting

In [47]:
# on fractionne une colonne
manualLighting = convert_col_to_df('manualLighting_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
manualLighting.head(3)

,id,enable_manualLighting_remoteScannerRegistration,platePoint_manualLighting_remoteScannerRegistration,exposureTime_manualLighting_remoteScannerRegistration,linearLightOn_manualLighting_remoteScannerRegistration,coaxialLightOn_manualLighting_remoteScannerRegistration,substratePoint_manualLighting_remoteScannerRegistration,coaxialPowerLevel_manualLighting_remoteScannerRegistration
0,336451,False,"{'x': 0, 'y': 0, 'valid': False}",0,0,0,"{'x': 0, 'y': 0, 'valid': False}",0
1,336460,False,"{'x': 0, 'y': 0, 'valid': False}",0,0,0,"{'x': 0, 'y': 0, 'valid': False}",0
2,336470,False,"{'x': 0, 'y': 0, 'valid': False}",0,0,0,"{'x': 0, 'y': 0, 'valid': False}",0

In [48]:
platePoint = convert_col_to_df('platePoint_manualLighting_remoteScannerRegistration', manualLighting, {'id':[]})
substratePoint = convert_col_to_df('substratePoint_manualLighting_remoteScannerRegistration', manualLighting, {'id':[]})
merge_plate_substrate = pd.merge(platePoint, substratePoint, how='outer', on='id')
merge_manualLighting = pd.merge(manualLighting, merge_plate_substrate, how='outer', on='id')
merge_manualLighting = merge_manualLighting.drop(['platePoint_manualLighting_remoteScannerRegistration','substratePoint_manualLighting_remoteScannerRegistration'], axis=1)
merge_manualLighting.head(2)

,id,enable_manualLighting_remoteScannerRegistration,exposureTime_manualLighting_remoteScannerRegistration,linearLightOn_manualLighting_remoteScannerRegistration,coaxialLightOn_manualLighting_remoteScannerRegistration,coaxialPowerLevel_manualLighting_remoteScannerRegistration,x_platePoint_manualLighting_remoteScannerRegistration,y_platePoint_manualLighting_remoteScannerRegistration,valid_platePoint_manualLighting_remoteScannerRegistration,x_substratePoint_manualLighting_remoteScannerRegistration,y_substratePoint_manualLighting_remoteScannerRegistration,valid_substratePoint_manualLighting_remoteScannerRegistration
0,336451,False,0,0,0,0,0,0,False,0,0,False
1,336460,False,0,0,0,0,0,0,False,0,0,False

##### remoteScannerRegistration > fullScannerMode

In [49]:
# on fractionne une colonne
fullScannerMode = convert_col_to_df('fullScannerMode_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
fullScannerMode.head(3)

,id,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration
0,336451,1500,16,16
1,336460,1500,16,16
2,336470,1500,16,16

##### remoteScannerRegistration >  specialSubstrate

In [50]:
# on fractionne une colonne
specialSubstrate = convert_col_to_df('specialSubstrate_remoteScannerRegistration', remoteScannerRegistration, {'id':[]})
specialSubstrate.head(3)

,id,enable_specialSubstrate_remoteScannerRegistration,paperEdge_specialSubstrate_remoteScannerRegistration
0,336451,False,0
1,336460,False,0
2,336470,False,0

##### fusion des sous-colonnes remoteScannerRegistration

In [51]:
merge_registration_gridMode_df = pd.merge(registration, merge_gridMode, how='outer', on='id')
merge_cropmarksMode_df = pd.merge(merge_registration_gridMode_df, merge_cropmarksMode, how='outer', on='id')
merge_manualLighting_df = pd.merge(merge_cropmarksMode_df, merge_manualLighting, how='outer', on='id')
merge_fullScannerMode_df = pd.merge(merge_manualLighting_df, fullScannerMode, how='outer', on='id')
merge_specialSubstrate_df = pd.merge(merge_fullScannerMode_df, specialSubstrate, how='outer', on='id')
merge_remoteScannerRegistration = pd.merge(merge_specialSubstrate_df, remoteScannerRegistration, how='outer', on='id')

In [52]:
# suppression des sous-colonnes qui ont été fractionnées
merge_remoteScannerRegistration = merge_remoteScannerRegistration.drop(remoteScannerRegistration_col_to_split, axis=1)
merge_remoteScannerRegistration.head(2)

,id,topMargin_registration_remoteScannerRegistration,leftMargin_registration_remoteScannerRegistration,redScore_gridMode_remoteScannerRegistration,name_descriptor_gridMode_remoteScannerRegistration,rows_descriptor_gridMode_remoteScannerRegistration,columns_descriptor_gridMode_remoteScannerRegistration,default_descriptor_gridMode_remoteScannerRegistration,redScore_cropmarksMode_remoteScannerRegistration,x_cropmark1_cropmarksMode_remoteScannerRegistration,...,y_substratePoint_manualLighting_remoteScannerRegistration,valid_substratePoint_manualLighting_remoteScannerRegistration,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,paperEdge_specialSubstrate_remoteScannerRegistration,id_remoteScannerRegistration,mode_remoteScannerRegistration,troubleshoot_remoteScannerRegistration
0,336451,0,0,1500,None,0,0,False,1500,0,...,0,False,1500,16,16,False,0,REGISTRATION_SCANNER_1,1,False
1,336460,0,0,1500,None,0,0,False,1500,0,...,0,False,1500,16,16,False,0,REGISTRATION_SCANNER_1,1,False

##### suppression des colonnes contenant des valeurs nulles ou une valeur unique

In [53]:
# liste le nombre de valeurs uniques par colonne
remoteScannerRegistration_df_col_to_drop = []
for col in merge_remoteScannerRegistration.columns:
    #print(col, merge_remoteScannerRegistration_df[col].nunique())
    if merge_remoteScannerRegistration[col].nunique() <= 1 :
        remoteScannerRegistration_df_col_to_drop.append(col)

print('nombre total de colonnes :', merge_remoteScannerRegistration.shape[1])
print('nombre de colonnes à supprimer :', len(remoteScannerRegistration_df_col_to_drop))
remoteScannerRegistration_df_col_to_drop

nombre total de colonnes : 36
nombre de colonnes à supprimer : 26

['name_descriptor_gridMode_remoteScannerRegistration',
 'rows_descriptor_gridMode_remoteScannerRegistration',
 'columns_descriptor_gridMode_remoteScannerRegistration',
 'default_descriptor_gridMode_remoteScannerRegistration',
 'x_cropmark1_cropmarksMode_remoteScannerRegistration',
 'y_cropmark1_cropmarksMode_remoteScannerRegistration',
 'score_cropmark1_cropmarksMode_remoteScannerRegistration',
 'valid_cropmark1_cropmarksMode_remoteScannerRegistration',
 'x_cropmark2_cropmarksMode_remoteScannerRegistration',
 'y_cropmark2_cropmarksMode_remoteScannerRegistration',
 'score_cropmark2_cropmarksMode_remoteScannerRegistration',
 'valid_cropmark2_cropmarksMode_remoteScannerRegistration',
 'enable_manualLighting_remoteScannerRegistration',
 'exposureTime_manualLighting_remoteScannerRegistration',
 'linearLightOn_manualLighting_remoteScannerRegistration',
 'coaxialLightOn_manualLighting_remoteScannerRegistration',
 'coaxialPowerLevel_manualLighting_remoteScannerRegistration',
 'x_platePoint_manualLighting_remoteScannerRegistration',
 'y_platePoint_manualLighting_remoteScannerRegistration',
 'valid_platePoint_manualLighting_remoteScannerRegistration',
 'x_substratePoint_manualLighting_remoteScannerRegistration',
 'y_substratePoint_manualLighting_remoteScannerRegistration',
 'valid_substratePoint_manualLighting_remoteScannerRegistration',
 'paperEdge_specialSubstrate_remoteScannerRegistration',
 'id_remoteScannerRegistration',
 'troubleshoot_remoteScannerRegistration']

In [54]:
# suppression des colonnes
merge_remoteScannerRegistration = merge_remoteScannerRegistration.drop(remoteScannerRegistration_df_col_to_drop, axis=1)

#### 8) Fusion des colonnes fractionnées de job_started_df

In [55]:
merge_iper_user = pd.merge(iper, user, how='outer', on='id')
merge_ifoil_df = pd.merge(merge_iper_user, ifoil, how='outer', on='id')
merge_layout_df = pd.merge(merge_ifoil_df, merge_layout, how='outer', on='id')
merge_irDryers_df = pd.merge(merge_layout_df, irDryers, how='outer', on='id')
merge_uvDryers_df = pd.merge(merge_irDryers_df, uvDryers, how='outer', on='id')
merge_remoteScannerRegistration_df = pd.merge(merge_uvDryers_df, merge_remoteScannerRegistration, how='outer', on='id')
merge_remoteScannerRegistration_df.head(2)

,id,id_iper,LED_iper,bars_iper,drops_iper,enable_iper,dithering_iper,deadPixelsOffset_iper,level_user,operator_user,...,enable_uvDryers,topMargin_registration_remoteScannerRegistration,leftMargin_registration_remoteScannerRegistration,redScore_gridMode_remoteScannerRegistration,redScore_cropmarksMode_remoteScannerRegistration,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,mode_remoteScannerRegistration
0,336451,PRINT_ENGINE_1,100,"[1, 2]",7,True,False,0,Operator,User,...,True,0,0,1500,1500,1500,16,16,False,1
1,336460,PRINT_ENGINE_1,100,"[1, 2]",6,True,False,0,Operator,User,...,True,0,0,1500,1500,1500,16,16,False,1

In [56]:
# suppression des colonnes contenant des valeurs uniques
for cols in col_to_drop :
    for col in cols :
        merge_remoteScannerRegistration_df = merge_remoteScannerRegistration_df.drop(col, axis=1)
merge_remoteScannerRegistration_df.head(2)

,id,LED_iper,bars_iper,drops_iper,dithering_iper,deadPixelsOffset_iper,level_user,operator_user,speed_ifoil,enabled_ifoil,...,power_uvDryers,topMargin_registration_remoteScannerRegistration,leftMargin_registration_remoteScannerRegistration,redScore_gridMode_remoteScannerRegistration,redScore_cropmarksMode_remoteScannerRegistration,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,mode_remoteScannerRegistration
0,336451,100,"[1, 2]",7,False,0,Operator,User,22.0,False,...,100,0,0,1500,1500,1500,16,16,False,1
1,336460,100,"[1, 2]",6,False,0,Operator,User,22.0,False,...,100,0,0,1500,1500,1500,16,16,False,1

In [57]:
merge_job_started_df = pd.merge(job_started_df, merge_remoteScannerRegistration_df, how='outer', on='id')
merge_job_started_df = merge_job_started_df.drop(job_started_col_to_split, axis=1)
merge_job_started_df.head(3)

,id,jobId,timestamp,jsonVersion,totalCopies,LED_iper,bars_iper,drops_iper,dithering_iper,deadPixelsOffset_iper,...,power_uvDryers,topMargin_registration_remoteScannerRegistration,leftMargin_registration_remoteScannerRegistration,redScore_gridMode_remoteScannerRegistration,redScore_cropmarksMode_remoteScannerRegistration,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,mode_remoteScannerRegistration
0,336451,1666686314,2022-10-25T08:25:14.7283523Z,2,1,100,"[1, 2]",7,False,0,...,100,0,0,1500,1500,1500,16,16,False,1
1,336460,1666686457,2022-10-25T08:27:37.3878834Z,2,4,100,"[1, 2]",6,False,0,...,100,0,0,1500,1500,1500,16,16,False,1
2,336470,1666686620,2022-10-25T08:30:20.2103584Z,2,1,100,"[1, 2]",6,False,0,...,100,0,0,1500,1500,1500,16,16,False,1

In [58]:
merge_job_started_df.columns

Index(['id', 'jobId', 'timestamp', 'jsonVersion', 'totalCopies', 'LED_iper',
       'bars_iper', 'drops_iper', 'dithering_iper', 'deadPixelsOffset_iper',
       'level_user', 'operator_user', 'speed_ifoil', 'enabled_ifoil',
       'optifoil_ifoil', 'stampAreas_ifoil', 'heater1Enabled_ifoil',
       'speedTensionIn_ifoil', 'speedTensionOut_ifoil',
       'heater1Temperature_ifoil', 'x_imageLayout_layout',
       'y_imageLayout_layout', 'width_paperFormat_layout',
       'height_paperFormat_layout', 'speed_layout', 'power_irDryers',
       'power_uvDryers', 'topMargin_registration_remoteScannerRegistration',
       'leftMargin_registration_remoteScannerRegistration',
       'redScore_gridMode_remoteScannerRegistration',
       'redScore_cropmarksMode_remoteScannerRegistration',
       'redScore_fullScannerMode_remoteScannerRegistration',
       'blueScore_fullScannerMode_remoteScannerRegistration',
       'greenScore_fullScannerMode_remoteScannerRegistration',
       'enable_specialSubstrate_remoteScannerRegistration',
       'mode_remoteScannerRegistration'],
      dtype='object')

### b. Dataframe de tag job preview

In [59]:
# on visualise les données
job_preview_df.head(3)

,id,path,image,jobId,machineId,jsonVersion
0,336452,D:/IMAGES/Standard/22100077-00 test vernis__VE...,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,1666686314,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2
1,336461,D:/IMAGES/Standard/22100077-00 test vernis__VE...,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,1666686457,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2
2,336471,D:/IMAGES/Standard/22100077-00 test vernis__VE...,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,1666686620,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2

In [60]:
# # on visualise l'image
# import PIL.Image as Image
# import io, base64
# byte_data = job_preview_df.image.loc[0]
# b = base64.b64decode(byte_data)
# img = Image.open(io.BytesIO(b))
# img.show()
# img_name = job_preview_df.path.loc[0].split('/')[-1]
# img.save(img_name)

In [61]:
# on supprime la colonne machineId
job_preview_df = job_preview_df.drop(['machineId'], axis=1)

Ces données sont utiles pour afficher les images des job mais pas pertinentes pour l'exploration ou la prédiction.

### c. Dataframe de tag job end

In [62]:
# on visualise les données
job_ended_df.head(3)

,id,jobId,jobState,machineId,timestamp,jsonVersion,totalCopies,varnishConsumption
0,336457,1666686314,SUCCESS,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:26:18.5227471Z,2,1,"[{'iperId': 'PRINT_ENGINE_1', 'operatorSideTan..."
1,336467,1666686457,SUCCESS,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:28:49.0183229Z,2,4,"[{'iperId': 'PRINT_ENGINE_1', 'operatorSideTan..."
2,336474,1666686620,SUCCESS,"{'type': 'JETvarnish 3D EVO', 'numMachine': 13...",2022-10-25T08:31:20.8591697Z,2,1,"[{'iperId': 'PRINT_ENGINE_1', 'operatorSideTan..."

In [63]:
# on supprime la colonne machineId
job_ended_df = job_ended_df.drop(['machineId'], axis=1)

La colonne varnishConsumption est fractionnable

#### 1. Fractionnement colonne 'varnishConsumption'

In [64]:
job_ended_df.varnishConsumption.loc[0]

[{'iperId': 'PRINT_ENGINE_1',
  'operatorSideTanks': [{'id': '3D Tank',
    'position': 0,
    'consumption': 0.046652269999999996}],
  'technicalSideTanks': []}]

In [65]:
varnishConsumption = convert_col_to_df('varnishConsumption', job_ended_df, {'id':[]})
varnishConsumption.head(2)

,id,iperId_varnishConsumption,operatorSideTanks_varnishConsumption,technicalSideTanks_varnishConsumption
0,336457,PRINT_ENGINE_1,"[{'id': '3D Tank', 'position': 0, 'consumption...",[]
1,336467,PRINT_ENGINE_1,"[{'id': '3D Tank', 'position': 0, 'consumption...",[]

##### Fractionnement colonne 'operatorSideTanks_varnishConsumption'

In [66]:
operatorSideTanks = convert_col_to_df('operatorSideTanks_varnishConsumption', varnishConsumption, {'id':[]})
operatorSideTanks.head(3)

,id,id_operatorSideTanks_varnishConsumption,position_operatorSideTanks_varnishConsumption,consumption_operatorSideTanks_varnishConsumption
0,336457,3D Tank,0,0.046652
1,336467,3D Tank,0,0.158389
2,336474,3D Tank,0,0.368169

##### Suppression colonne 'technicalSideTanks_varnishConsumption'

In [67]:
# la colonne ne contient aucune valeur
varnishConsumption = varnishConsumption.drop(['technicalSideTanks_varnishConsumption'], axis=1)

##### Fusion des colonnes varnishConsumption

In [68]:
merge_varnishConsumption = pd.merge(varnishConsumption, operatorSideTanks, how='outer', on='id')
merge_varnishConsumption = merge_varnishConsumption.drop(['operatorSideTanks_varnishConsumption'], axis=1)
merge_varnishConsumption.head(3)

,id,iperId_varnishConsumption,id_operatorSideTanks_varnishConsumption,position_operatorSideTanks_varnishConsumption,consumption_operatorSideTanks_varnishConsumption
0,336457,PRINT_ENGINE_1,3D Tank,0,0.046652
1,336467,PRINT_ENGINE_1,3D Tank,0,0.158389
2,336474,PRINT_ENGINE_1,3D Tank,0,0.368169

#### 2. Fusion des sous-colonnes job_ended

In [69]:
merge_job_ended_df = pd.merge(job_ended_df, merge_varnishConsumption, how='outer', on='id')
merge_job_ended_df = merge_job_ended_df.drop(['varnishConsumption'], axis=1)
merge_job_ended_df.head(3)

,id,jobId,jobState,timestamp,jsonVersion,totalCopies,iperId_varnishConsumption,id_operatorSideTanks_varnishConsumption,position_operatorSideTanks_varnishConsumption,consumption_operatorSideTanks_varnishConsumption
0,336457,1666686314,SUCCESS,2022-10-25T08:26:18.5227471Z,2,1,PRINT_ENGINE_1,3D Tank,0,0.046652
1,336467,1666686457,SUCCESS,2022-10-25T08:28:49.0183229Z,2,4,PRINT_ENGINE_1,3D Tank,0,0.158389
2,336474,1666686620,SUCCESS,2022-10-25T08:31:20.8591697Z,2,1,PRINT_ENGINE_1,3D Tank,0,0.368169

In [70]:
# liste le nombre de valeurs uniques par colonne
merge_job_ended_df_col_to_drop = []
for col in merge_job_ended_df.columns:
    if merge_job_ended_df[col].nunique() <= 1 :
        merge_job_ended_df_col_to_drop.append(col)

print('nombre total de colonnes :', merge_job_ended_df.shape[1])
print('nombre de colonnes à supprimer :', len(merge_job_ended_df_col_to_drop))
merge_job_ended_df_col_to_drop

nombre total de colonnes : 10
nombre de colonnes à supprimer : 4

['jsonVersion',
 'iperId_varnishConsumption',
 'id_operatorSideTanks_varnishConsumption',
 'position_operatorSideTanks_varnishConsumption']

In [71]:
# suppression des colonnes à valeur unique
merge_job_ended_df = merge_job_ended_df.drop(merge_job_ended_df_col_to_drop, axis=1)

## c) Creation du dataframe final

### 1. Vérification

In [72]:
# concatenation des dataframes du payload
print('job_started shape :', merge_job_started_df.shape)
print('job_preview shape :', job_preview_df.shape)
print('job_ended shape :', merge_job_ended_df.shape)

job_started shape : (4225, 36)
job_preview shape : (4226, 5)
job_ended shape : (4223, 6)

In [73]:
# on verifie l'intégrité des jobId
print(merge_job_started_df['jobId'].isin(job_started_df['jobId']).value_counts())
print(merge_job_ended_df['jobId'].isin(job_ended_df['jobId']).value_counts())

True    4225
Name: jobId, dtype: int64
True    4223
Name: jobId, dtype: int64

Il y a toujours autant de jobId dans les df fusionnés et les df de départ ne comportaient aucun doublon.

On peut donc les fusionner sur la valeur de jobId.

### 2. Par fusion

In [74]:
# on fusionnes les datasets des tag start et tag end par job id
merge_start_end_df = pd.merge(
    merge_job_started_df.drop(['id'],axis=1), 
    merge_job_ended_df.drop(['id'],axis=1), 
    how='outer', 
    on='jobId',
    suffixes=['_start', '_end'])

In [75]:
merge_payload_df = pd.merge(
    merge_start_end_df, 
    job_preview_df.drop(['id'],axis=1), 
    how='outer', 
    on='jobId')

In [76]:
merge_payload_df.head(2)

,jobId,timestamp_start,jsonVersion_x,totalCopies_start,LED_iper,bars_iper,drops_iper,dithering_iper,deadPixelsOffset_iper,level_user,...,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,mode_remoteScannerRegistration,jobState,timestamp_end,totalCopies_end,consumption_operatorSideTanks_varnishConsumption,path,image,jsonVersion_y
0,1666686314,2022-10-25T08:25:14.7283523Z,2.0,1.0,100.0,"[1, 2]",7.0,False,0.0,Operator,...,16.0,False,1.0,SUCCESS,2022-10-25T08:26:18.5227471Z,1.0,0.046652,D:/IMAGES/Standard/22100077-00 test vernis__VE...,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,2.0
1,1666686457,2022-10-25T08:27:37.3878834Z,2.0,4.0,100.0,"[1, 2]",6.0,False,0.0,Operator,...,16.0,False,1.0,SUCCESS,2022-10-25T08:28:49.0183229Z,4.0,0.158389,D:/IMAGES/Standard/22100077-00 test vernis__VE...,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBw...,2.0

In [77]:
merge_payload_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4232 entries, 0 to 4231
Data columns (total 42 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   jobId                                                 4232 non-null   object
 1   timestamp_start                                       4225 non-null   object
 2   jsonVersion_x                                         4225 non-null   float64
 3   totalCopies_start                                     4225 non-null   float64
 4   LED_iper                                              4225 non-null   float64
 5   bars_iper                                             4225 non-null   object
 6   drops_iper                                            4225 non-null   float64
 7   dithering_iper                                        4225 non-null   object
 8   deadPixelsOffset_iper                                 4225 non-null   float64
 9   level_user                                            4225 non-null   object
 10  operator_user                                         4225 non-null   object
 11  speed_ifoil                                           4225 non-null   float64
 12  enabled_ifoil                                         4225 non-null   object
 13  optifoil_ifoil                                        4225 non-null   object
 14  stampAreas_ifoil                                      4225 non-null   object
 15  heater1Enabled_ifoil                                  4225 non-null   object
 16  speedTensionIn_ifoil                                  4225 non-null   float64
 17  speedTensionOut_ifoil                                 4225 non-null   float64
 18  heater1Temperature_ifoil                              4225 non-null   float64
 19  x_imageLayout_layout                                  4225 non-null   float64
 20  y_imageLayout_layout                                  4225 non-null   float64
 21  width_paperFormat_layout                              4225 non-null   float64
 22  height_paperFormat_layout                             4225 non-null   float64
 23  speed_layout                                          4225 non-null   float64
 24  power_irDryers                                        4225 non-null   float64
 25  power_uvDryers                                        4225 non-null   float64
 26  topMargin_registration_remoteScannerRegistration      4225 non-null   float64
 27  leftMargin_registration_remoteScannerRegistration     4225 non-null   float64
 28  redScore_gridMode_remoteScannerRegistration           4225 non-null   float64
 29  redScore_cropmarksMode_remoteScannerRegistration      4225 non-null   float64
 30  redScore_fullScannerMode_remoteScannerRegistration    4225 non-null   float64
 31  blueScore_fullScannerMode_remoteScannerRegistration   4225 non-null   float64
 32  greenScore_fullScannerMode_remoteScannerRegistration  4225 non-null   float64
 33  enable_specialSubstrate_remoteScannerRegistration     4225 non-null   object
 34  mode_remoteScannerRegistration                        4225 non-null   float64
 35  jobState                                              4223 non-null   object
 36  timestamp_end                                         4223 non-null   object
 37  totalCopies_end                                       4223 non-null   float64
 38  consumption_operatorSideTanks_varnishConsumption      4223 non-null   float64
 39  path                                                  4226 non-null   object
 40  image                                                 4226 non-null   object
 41  jsonVersion_y                                         4226 non-null   float64
dtypes: float64(27), object(15)
memory usage: 1.4+ MB

#### Output csv

In [78]:
merge_payload_df.to_csv(save_csv_merge)

### 3. Par concaténation

Si l'on souhaite conserver un dataset avec un tag par ligne on effectue une concaténation des datasets tag start et end

In [79]:
# on concatene les dataset des tag start et tag end
concat_job_events_df = pd.concat([merge_job_started_df,merge_job_ended_df])
concat_job_events_df.reset_index(level=None, drop=True, inplace=True, col_level=0, col_fill='')

In [80]:
print(concat_job_events_df.info())
concat_job_events_df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8448 entries, 0 to 8447
Data columns (total 38 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   id                                                    8448 non-null   int64
 1   jobId                                                 8448 non-null   object
 2   timestamp                                             8448 non-null   object
 3   jsonVersion                                           4225 non-null   float64
 4   totalCopies                                           8448 non-null   int64
 5   LED_iper                                              4225 non-null   float64
 6   bars_iper                                             4225 non-null   object
 7   drops_iper                                            4225 non-null   float64
 8   dithering_iper                                        4225 non-null   object
 9   deadPixelsOffset_iper                                 4225 non-null   float64
 10  level_user                                            4225 non-null   object
 11  operator_user                                         4225 non-null   object
 12  speed_ifoil                                           4225 non-null   float64
 13  enabled_ifoil                                         4225 non-null   object
 14  optifoil_ifoil                                        4225 non-null   object
 15  stampAreas_ifoil                                      4225 non-null   object
 16  heater1Enabled_ifoil                                  4225 non-null   object
 17  speedTensionIn_ifoil                                  4225 non-null   float64
 18  speedTensionOut_ifoil                                 4225 non-null   float64
 19  heater1Temperature_ifoil                              4225 non-null   float64
 20  x_imageLayout_layout                                  4225 non-null   float64
 21  y_imageLayout_layout                                  4225 non-null   float64
 22  width_paperFormat_layout                              4225 non-null   float64
 23  height_paperFormat_layout                             4225 non-null   float64
 24  speed_layout                                          4225 non-null   float64
 25  power_irDryers                                        4225 non-null   float64
 26  power_uvDryers                                        4225 non-null   float64
 27  topMargin_registration_remoteScannerRegistration      4225 non-null   float64
 28  leftMargin_registration_remoteScannerRegistration     4225 non-null   float64
 29  redScore_gridMode_remoteScannerRegistration           4225 non-null   float64
 30  redScore_cropmarksMode_remoteScannerRegistration      4225 non-null   float64
 31  redScore_fullScannerMode_remoteScannerRegistration    4225 non-null   float64
 32  blueScore_fullScannerMode_remoteScannerRegistration   4225 non-null   float64
 33  greenScore_fullScannerMode_remoteScannerRegistration  4225 non-null   float64
 34  enable_specialSubstrate_remoteScannerRegistration     4225 non-null   object
 35  mode_remoteScannerRegistration                        4225 non-null   float64
 36  jobState                                              4223 non-null   object
 37  consumption_operatorSideTanks_varnishConsumption      4223 non-null   float64
dtypes: float64(24), int64(2), object(12)
memory usage: 2.4+ MB
None

,id,jobId,timestamp,jsonVersion,totalCopies,LED_iper,bars_iper,drops_iper,dithering_iper,deadPixelsOffset_iper,...,leftMargin_registration_remoteScannerRegistration,redScore_gridMode_remoteScannerRegistration,redScore_cropmarksMode_remoteScannerRegistration,redScore_fullScannerMode_remoteScannerRegistration,blueScore_fullScannerMode_remoteScannerRegistration,greenScore_fullScannerMode_remoteScannerRegistration,enable_specialSubstrate_remoteScannerRegistration,mode_remoteScannerRegistration,jobState,consumption_operatorSideTanks_varnishConsumption
0,336451,1666686314,2022-10-25T08:25:14.7283523Z,2.0,1,100.0,"[1, 2]",7.0,False,0.0,...,0.0,1500.0,1500.0,1500.0,16.0,16.0,False,1.0,NaN,NaN
1,336460,1666686457,2022-10-25T08:27:37.3878834Z,2.0,4,100.0,"[1, 2]",6.0,False,0.0,...,0.0,1500.0,1500.0,1500.0,16.0,16.0,False,1.0,NaN,NaN
2,336470,1666686620,2022-10-25T08:30:20.2103584Z,2.0,1,100.0,"[1, 2]",6.0,False,0.0,...,0.0,1500.0,1500.0,1500.0,16.0,16.0,False,1.0,NaN,NaN

#### Output csv

In [81]:
concat_job_events_df.to_csv(save_csv_concat)